<%= render partial: @user, locals: { user: @user, myclass: "" } %>
<div class="p-5">
    <div class="shadow-white rounded border p-3 mb-5">
        <h4>Bio</h4>
        <p><%= @user.bio %></p>
    </div>
    <% if @user.posts.length > 0 %>
        <h2>Recent Posts</h2>
        <div>
            <% @user.recent_posts.each do |post| %>
                <%= link_to user_post_path(@user.id, post.id) do %>
                    <div class="shadow-white rounded border p-3 my-3 post">
                        <h4 class="mb-4"><%= post.title %></h4>
                        <p><%= post.text %></p>
                        <div class="d-flex w-100 justify-content-end">
                            <h6>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></h6>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% else %>
      <h2 class="text-center text-secondary"><%= @user.name %> has no posts<h2>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= link_to "See all posts", user_posts_path(@user), class:'see-all-posts-btn p-3' %>
    </div>
</div>
