<div class="shadow-white rounded border p-3 m-5">
  <div class="d-flex justify-content-between mb-4">
    <h4><%= @post.title %> by <%= @user.name %></h4>
    <h5>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h5>
  </div>
  <p><%= @post.text%></p>
  <% if @post.comments.length > 0 %>
    <div class="comments border-top pt-3 mt-5">
        <% @post.comments.each do |comment| %>
            <div class="d-flex justify-content-between">
              <p><%= comment.author.name %>: <%= comment.text %></p>
              <%= button_to '×', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: "Delete this comment?" }, class: 'btn btn-danger' %>
            </div>
        <% end %>
    </div>
  <% end %>
  <div class="mt-5 d-flex justify-content-start gap-5">
    <%= bootstrap_form_with(model: @like, url: user_post_likes_path(@post.author, @post.id) ) do |f| %>
      <div class="rounded user orange-shadow">
        <%= f.submit "Like", class: 'btn text-white user orange-shadow' %>
      </div>
    <% end %>
    <%= link_to new_user_post_comment_path(@user, @post), class: 'btn user orange-shadow' do %>
      Comment
    <% end %>
    <% if can?(:destroy, @post) %>
      <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>