<div class="shadow-white rounded border p-3 m-5">
  <div class="d-flex justify-content-between mb-4">
    <h4><%= @post.title %> by <%= @user.name %></h4>
    <h5>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h5>
  </div>
  <p><%= @post.text%></p>
  <% if @post.comments.length > 3 %>
    <div class="comments border-top pt-3 mt-5">
        <% @post.comments.each do |comment| %>
            <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
    </div>
  <% end %>
  <div class="mt-5 d-flex justify-content-start gap-5">
    <%= bootstrap_form_with(model: @like, url: user_post_likes_path(@post.author, @post.id) ) do |f| %>
      <div class="rounded user orange-shadow">
        <%= f.submit "Like", class: 'btn text-white user orange-shadow' %>
      </div>
    <% end %>
    <%= link_to new_user_post_comment_path(@user, @post), class: 'btn user orange-shadow' do %>
      Comment
    <% end %>
  </div>
</div>